<h1>{{ title }}</h1>
<div class="container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="signup-form">
        <mat-card-title color="primary">
            <h3>Create a new account</h3>
        </mat-card-title>

        <mat-form-field class="form-control">
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput placeholder="Name" required>
        </mat-form-field>

        <mat-form-field class="form-control">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput placeholder="Email" required>
        </mat-form-field>

        <mat-form-field class="form-control">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput placeholder=" Password" required>
        </mat-form-field>

        <button type="submit" mat-raised-button class="btn btn-block" color="primary">Create Account</button>

        <p class="text">
            Have an account? <a routerLink="/login" color="primary">Log In</a>
        </p>

        <p *ngIf="message" class="text warn" color="warn">
            {{ message }}
        </p>
    </form>
</div>
<div class="overlay"></div>