// @import "./app/angular-material/custom-theme.scss";

@use '@angular/material' as mat;

@include mat.core();

$homebanking-system-primary: mat.define-palette(mat.$indigo-palette);
$homebanking-system-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$homebanking-system-warn: mat.define-palette(mat.$red-palette);

$homebanking-system-theme: mat.define-light-theme((
  color: (
    primary: $homebanking-system-primary,
    accent: $homebanking-system-accent,
    warn: $homebanking-system-warn,
  )));

@include mat.all-component-themes($homebanking-system-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey);
}


.container {
  max-width: 350px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  >input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
}